@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Hello World! Silahkan pilih menu dibawah ini :</p>
    <a href="/Education/" class="btn btn-sm btn-primary" id="BtnEducation">Education</a>  &nbsp;
    <a href="/University/" class="btn btn-sm btn-primary" id="BtUnivercity">Univercity</a> &nbsp;
    <a href="/Profiling/" class="btn btn-sm btn-primary" id="BtUnivercity">Profiling</a>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
</div>
